@use "../../style/partials/global" as *;
@use "../../style/partials/mixins" as *;
@use "../../style/partials/variables" as *;
@use "../../style/partials/font" as *;

.about {
  &__hero {
    &-content {
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: relative;
      text-align: center;
      background-image: url("../../assets/Images/hero-about.png");
      background-size: cover;
      width: 95%;
      height: 400px;
      margin: 0px auto;
      margin-top: -40px;
      border: 2px solid $border-color;
      border-radius: 20px;
      backdrop-filter: blur(160px);
      animation: backgroundMovement 10s infinite alternate; // Animation added here

      // Background movement animation
      @keyframes backgroundMovement {
        0% {
          background-position: 0% 0%;
        }
        50% {
          background-position: 100% 100%;
        }
        100% {
          background-position: 0% 0%;
        }
      }

      @include desktop {
        height: 600px;
      }
    }
    &-title,
    &-text {
      color: $alternate-text-color;
    }
  }
}
