@use "../../style/partials/global" as *;
@use "../../style/partials/mixins" as *;
@use "../../style/partials/variables" as *;
@use "../../style/partials/font" as *;

.hero {
  position: relative;
  width: 95%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  margin: 0px auto;
  margin-top: -40px;
  margin-bottom: 20px;
  border: 2px solid $border-color;
  border-radius: 20px 20px 20px 20px;

  @include desktop {
    height: 600px;
  }

  &__container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px 20px 20px 20px;
  }

  &__hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
  }

  &__hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    /* padding: 20px; */
  }

  &__hero-title {
    font-size: 24px;
    font-weight: bold;

    @include tablet {
        font-size:32px;
    }

    @include desktop {
        font-size: 42px;
    }
  }

  &__hero-title2 {
    font-size: 18px;

    @include tablet {
        font-size:28px;
    }

    @include desktop {
        font-size: 36px;
    }
  }

  &__hero-text {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 1.4;

    @include tablet {
      font-size: 26px;
    }

    @include desktop {
      font-size: 32px;
    }
  }

  &__hero-button {
    background-color: #ff9800;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    font-size: 1rem;
    text-decoration: none;

    &:hover {
      background-color: #e68900;
    }

    @include tablet {
        font-size:22px;
    }

    @include desktop {
        font-size: 26px;
    }
  }
}
