@use "../../style/partials/global" as *;
@use "../../style/partials/mixins" as *;
@use "../../style/partials/variables" as *;

.hero {
    position: relative;
    width: 95%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    margin: 0px auto;
    margin-top: -40px;
    margin-bottom: 20px;
    border: 2px solid $border-color;
    border-radius: 10px 10px 0px 0px;
    
    &__container {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 10px 10px 0px 0px;
    }
  
    &__hero-image {
      width: 100%;
      height: 100%;
      object-fit:cover;
      transition: opacity 0.5s ease-in-out;
    }
  
    &__hero-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #fff;
      text-align: center;
      /* padding: 20px; */
    }
  
    &__hero-title {
      font-size: 24px;
      font-weight: bold;
    }

    &__hero-title2 {
        font-size: 18px;
    }
  
    &__hero-text {
      font-size: 14px;
      margin-bottom: 20px;
    }
  
    &__hero-button {
      background-color: #ff9800;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background 0.3s ease;
      font-size: 1rem;
      text-decoration: none;
  
      &:hover {
        background-color: #e68900;
      }
    }
  }