@use "../../style/partials/global" as *;
@use "../../style/partials/mixins" as *;
@use "../../style/partials/variables" as *;
@use "../../style/partials/font" as *;

.contact {
  &__hero {
    &-content {
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: relative;
      text-align: center;
      background-image: url("../../assets/Images/hero-contact.png");
      background-size: cover;
      width: 95%;
      height: 25rem;
      margin: 0rem auto;
      margin-top: -7.5rem;
      border: 0.125rem solid $border-color;
      border-radius: 1.25rem;
      backdrop-filter: blur(10rem);
      animation: backgroundMovement 10s infinite alternate;

      @keyframes backgroundMovement {
        0% {
          background-position: 0% 0%;
        }
        50% {
          background-position: 100% 100%;
        }
        100% {
          background-position: 0% 0%;
        }

        @include desktop {
          height: 25rem;
        }
      }
    }

    &-title {
      font-size: 1.125rem;
      font-family: "newsreader";
      font-weight: bolder;

      @include tablet {
        font-size: 2rem;
      }

      @include desktop {
        font-size: 2.5rem;
      }
    }

    &-text {
      font-size: 0.9063rem;
      line-height: 1.2;

      @include tablet {
        font-size: 1.5rem;
      }

      @include desktop {
        font-size: 2rem;
      }
    }

    &-title,
    &-text {
      color: $highlight-color;
      text-shadow: 0.125rem 0.125rem 0.125rem $primary-text-color;
    }

    &-description {
      width: 70%;
      text-align: justify;
      padding: 0.625rem;
    }
  }

  &__body-section {
    padding: 1.25rem;
    text-align: center;

    // Title styling
    &-title {
      font-size: 1.3rem;
      font-weight: bold;
      margin-bottom: 0.625rem;
      font-family: "newsreader";
      text-align: center;

      @include tablet {
        font-size: 2rem;
      }

      @include desktop {
        font-size: 2.5rem;
      }
    }

    // Text styling
    &-text {
      font-size: 1rem;
      line-height: 1.5;
      margin-bottom: 1.25rem;
      text-align: justify;
      text-decoration: none;

      @include tablet {
        font-size: 1.3rem;
      }

      @include desktop {
        font-size: 1.5rem;
      }
    }
  }

  &__form {
    width: 100%;
    margin: 2.5rem auto;
    padding: 1.25rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  }

  &__input,
  &__textarea {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 0.125rem solid $border-color;
    border-radius: 0.625rem;
    font-size: 1rem;
    box-sizing: border-box;
    transition: border-color 0.3s ease;

    &:focus {
      border-color: #ff7a00; // orange highlight color
      outline: none;
    }

    &::placeholder {
      color: #aaa;
      font-style: italic;
    }
  }

  &__textarea {
    resize: vertical;
    min-height: 9.375rem;
  }

  &__btn {
    display: flex;
    justify-content: flex-end;
  }

  &__button {
    padding: 0.75rem;
    font-size: 1rem;
    background-color: $darker-highlight-color;
    color: $alternate-text-color;
    border: none;
    border-radius: 0.625rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $highlight-color;
    }

    &:focus {
      outline: none;
    }
  }

  &__map {
    width: 100%;
    margin: 0;
    padding: 0;

    & iframe {
      width: 100%;
      height: 31.25rem;
      border: none;
      display: block;
    }
  }

  &__body-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.25rem;
    padding: 1.25rem;

    // Tablet and Desktop Styles
    @include tablet {
      gap: 1.5625rem;
      padding: 1.875rem;
    }

    @include desktop {
      gap: 1.875rem;
      padding: 2.5rem;
    }
  }

  &__location,
  &__email,
  &__phone {
    flex: 1;
    background-color: #f8f8f8;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);
      box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.5);

      @include tablet {
        flex: 0 1 calc(33% - 1.25rem);
        padding: 1.5625rem;
      }

      @include desktop {
        flex: 0 1 calc(30% - 1.25rem);
        padding: 1.875rem;
      }

      &-container {
        margin-bottom: 0.9375rem;
      }
    }

    &-icon {
      width: 3.125rem;
      height: 3.125rem;
      object-fit: contain;
      margin-bottom: 0.625rem;

      @include tablet {
        width: 3.75rem;
        height: 3.75rem;
      }

      @include desktop {
        width: 4.375rem;
        height: 4.375rem;
      }
    }

    &-title {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 0.625rem;

      @include tablet {
        font-size: 1.8rem;
      }

      @include desktop {
        font-size: 2rem;
      }
    }

    &-text {
      font-size: 1.1rem;
      margin-bottom: 0.5rem;
      text-decoration: none;

      @include tablet {
        font-size: 1.2rem;
      }

      @include desktop {
        font-size: 1.3rem;
      }
    }
  }
  &__email,
  &__phone,
  &__location {
    &-link {
      text-decoration: none;
      color: $primary-text-color;

      &:hover {
        color: $active-color;
        text-shadow: 0.125rem 0.125rem 0.125rem $alternate-text-color;
      }
    }
  }

  &__email {
    background: $highlight-color;
  }
}
