@use "../../style/partials/global" as *;
@use "../../style/partials/mixins" as *;
@use "../../style/partials/variables" as *;

 .header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: $header-color;
  padding-bottom: 5rem;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 1rem 1rem 5rem 1rem;
  }

  &__logo {
    display: flex;
    justify-content: center;
    margin-bottom: 1.25rem;
  }


  &__logo-image {
    width: 50px;
    height: 50px;

    @include tablet {
      width: 100px;
      height: 100px;
    }
  }
  
  &__nav-container {
    background: $highlight-color;
  }

  &__nav-button {
    @include tablet {
      display: none;
    }
  }

  &__nav--close {
    display: none;
  }

  &__nav-list {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }

  &__nav-item {
  }

  &__nav-item {
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    color: $primary-text-color;
    font-weight: 500;
    padding: 0.5rem 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    @include tablet {
      font-size: 14px;
    }

    @include desktop {
      font-size: 18px;
    }

    &:hover {
      color: $alternate-text-color;
      text-decoration: underline;
    }

    &--home {
      &.active {
        background-color: $active-color;
        border-radius: 1.25rem;
        color: $alternate-text-color;
      }

      &:hover {
        text-decoration: underline;
        color: $alternate-text-color;
      }
    }

    &--contact {
      &.active {
        background-color: $active-color;
        border-radius: 1.25rem;
        color: $alternate-text-color;
      }

      &:hover {
        text-decoration: underline;
        color: $alternate-text-color;
      }
    }

    &--blog {
      &.active {
        background-color: $active-color;
        border-radius: 1.25rem;
        color: $alternate-text-color;
      }

      &:hover {
        text-decoration: underline;
        color: $alternate-text-color;
      }
    }

    &--about {
      &.active {
        background-color: $active-color;
        border-radius: 1.25rem;
        color: $alternate-text-color;
      }

      &:hover {
        text-decoration: underline;
        color: $alternate-text-color;
      }
    }

    @include tablet {
      width: 100%;
      padding: 0.5rem 1rem;
    }
  }
}


