@use "../../style/partials/global" as *;
@use "../../style/partials/mixins" as *;
@use "../../style/partials/variables" as *;
@use "../../style/partials/font" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: linear-gradient(to right, white, $header-color);
  padding-bottom: 5rem;

  @include tablet {
    padding: 1rem 1rem 5rem 1rem;
  }

  &__logo {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1.25rem;
  }

  &__logo-image {
    width: 12.5rem;
    height: auto;

    @include tablet {
      width: 15.625rem;
    }

    @include desktop {
      width: 18.75rem;
    }
  }

  &__nav-container {
    display: flex;
    align-items: center;

    @include tablet {
      margin-bottom: 1.875rem;
    }
  }

  &__button {
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: 60%;
    display: block; // Show only on mobile

    @include tablet {
      display: none; // Hide on tablets and larger screens
    }
  }

  &__icon {
    width: 2.5rem;
    height: auto;
  }

  &__nav {
    display: none; // Hidden by default on mobile

    @include tablet {
      display: flex; // Always visible on tablets and larger
    }

    &--open {
      display: flex;
      position: absolute;
      top: 150px;
      left: 0;
      width: 100%;
      background: $header-color;
      padding: 1rem;
      z-index: 1;
      box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease-in-out;
    }
  }

  &__nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
    }
  }

  &__nav-item {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 0.75rem;
    color: $primary-text-color;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    cursor: pointer;

    &:hover {
      color: $alternate-text-color;
      text-decoration: underline;
    }

    &.active {
      color: $alternate-text-color;
      text-decoration: underline;
      background: $highlight-color;
      border: 0.125rem solid $border-color;
      border-radius: 0.9375rem;
    }

    @include tablet {
      font-size: 1.25rem;
      padding: 0.3rem 1rem;
    }

    @include desktop {
      font-size: 1.625rem;
    }
  }
}
