/* @use "../../style/partials/global" as *;
@use "../../style/partials/mixins" as *;
@use "../../style/partials/variables" as *;
@use "../../style/partials/font" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: linear-gradient(to right, white, $header-color);

  &__logo {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1.25rem;

    @include tablet {
      margin-bottom: 0;
    }
  }

  &__logo-image {
    width: 12.5rem;
    height: auto;

    @include tablet {
      width: 15.625rem;
    }

    @include desktop {
      width: 18.75rem;
    }
  }

  &__nav-container {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__button {
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: 60%;
    display: block; // Show only on mobile

    @include desktop {
      display: none; // Hide on tablets and larger screens
    }
  }

  &__icon {
    width: 2.5rem;
    height: auto;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background: $header-color;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    padding: 2rem 1rem;
    width: 100%;
    height: 100vh;
    z-index: 1;
    overflow-y: auto;

    &--open {
      transform: translateX(0);
    }

    @include tablet {
      width: 30%;
    }
  
    @include desktop {
      position: static;
      display: flex;
      flex-direction: row;
      transform: none;
      align-items: center;
      width: auto;
      background: transparent;
      padding: 0;
    }
  }

  

  &__nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    @include desktop {
      flex-direction: row;
    }
  }

  &__nav-item {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 0.75rem;
    color: $primary-text-color;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    cursor: pointer;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      background: $highlight-color;
      transform: scaleX(0);
      opacity: 0;
      transition: transform 0.3s ease opacity 0.3s ease;
      z-index: -1;
    }

    &:hover::before {
      transform: scaleX(1);
      opacity: 0.7;
    }

    &:hover {
      color: $alternate-text-color;
      text-decoration: underline;
    }

    &.active {
      color: $alternate-text-color;
      text-decoration: underline;
      background: $highlight-color;
      border: 0.125rem solid $border-color;
      border-radius: 0.9375rem;
    }

    @include tablet {
      font-size: 1.25rem;
      padding: 0.3rem 1rem;
    }

    @include desktop {
      font-size: 1.625rem;
    }
  }

  &__overlay {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition: opacity 0.3 ease-in-out;
  }
}
 */

/*  @use "../../style/partials/global" as *;
@use "../../style/partials/mixins" as *;
@use "../../style/partials/variables" as *;
@use "../../style/partials/font" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: linear-gradient(to right, white, $header-color);

  &__logo {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1.25rem;

    @include tablet {
      margin-bottom: 0;
    }
  }

  &__logo-image {
    width: 12.5rem;
    height: auto;

    @include tablet {
      width: 15.625rem;
    }

    @include desktop {
      width: 18.75rem;
    }
  }

  &__nav-container {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__button {
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001;

    @include desktop {
      display: none;
    }
  }

  &__icon {
    width: 2.5rem;
    height: auto;
  }

  &__nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right, white, $header-color);
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    z-index: 1000;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    &--open {
      transform: translateX(0);
    }

    @include tablet {
      width: 30%;
    }

    @include desktop {
      position: static;
      transform: none;
      display: flex;
      flex-direction: row;
      background: transparent;
      height: auto;
      width: auto;
      padding: 0;
    }
  }

  &__nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    width: 100%;

    @include tablet {
      gap: 120px;
    }

    @include desktop {
      flex-direction: row;
      gap: 30px;
    }
  }

  &__nav-item {
    position: relative;
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 0.75rem 1rem;
    font-size: 18px;
    color: $primary-text-color;
    cursor: pointer;
    overflow: hidden;
    z-index: 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: $highlight-color;
      transform: scaleX(0);
      transform-origin: right;
      opacity: 0;
      transition: transform 0.3s ease, opacity 0.3s ease;
      z-index: -1;
    }

    &:hover::before {
      transform: scaleX(1);
      opacity: 0.8;
    }

    &:hover {
      color: $alternate-text-color;
    }

    &.active {
      background-color: $highlight-color;
      color: $alternate-text-color;
    }

    @include tablet {
      width: auto;
      font-size: 16px;
    }

    @include desktop {
      font-size: 18px;
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    transition: opacity 0.3s ease-in-out;
  }
}
 */

 @use "../../style/partials/global" as *;
@use "../../style/partials/mixins" as *;
@use "../../style/partials/variables" as *;
@use "../../style/partials/font" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: linear-gradient(to right, white, $header-color);
  position: relative;

  &__logo {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1.25rem;

    @include tablet {
      margin-bottom: 0;
    }
  }

  &__logo-image {
    width: 12.5rem;
    height: auto;

    @include tablet {
      width: 15.625rem;
    }

    @include desktop {
      width: 18.75rem;
    }
  }

  &__nav-container {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__button {
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001;
   

    @include desktop {
      display: none;
    }
  }

  &__icon {
    width: 2.5rem;
    height: auto;
    color: black;
  }

  &__nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right, white, $header-color);
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    z-index: 1000;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border-radius: 0.5rem 0 0 0.5rem;

    &--open {
      transform: translateX(0);
    }

    @include tablet {
      width: 30%;
    }

    @include desktop {
      position: static;
      transform: none;
      flex-direction: row;
      background: transparent;
      height: auto;
      width: auto;
      padding: 0;
      border-radius: 0;
    }
  }

  &__nav-list {
    list-style: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
    width: 100%;

    @include tablet {
      gap: 12rem;
    }

    @include desktop {
      flex-direction: row;
      gap: 2.5rem;
    }
  }

  &__nav-item {
    position: relative;
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 1rem;
    font-size: 18px;
    color: $primary-text-color;
    cursor: pointer;
    overflow: hidden;
    z-index: 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: $highlight-color;
      transform: scaleX(0);
      transform-origin: right;
      opacity: 0;
      transition: transform 0.3s ease, opacity 0.3s ease;
      z-index: -1;
    }

    &:hover::before {
      transform: scaleX(1);
      opacity: 0.8;
    }

    &:hover {
      color: $alternate-text-color;
    }

    &.active {
      background-color: $highlight-color;
      color: $alternate-text-color;
    }

    @include tablet {
      width: auto;
      font-size: 24px;
    }

    @include desktop {
      font-size: 28px;
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    transition: opacity 0.3s ease-in-out;
  }
}
