@use "../../style/partials/global" as *;
@use "../../style/partials/mixins" as *;
@use "../../style/partials/variables" as *;
@use "../../style/partials/font" as *;

.footer {
  background-color: $alternate-text-color; // Use your defined footer background color
  padding: 2rem 1rem;
  text-align: center;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      padding: 0 2rem;
    }

    @include desktop {
      padding: 0 5rem;
    }
  }

  &__logo {

    &-image {
      width: 240px; // Adjust as needed
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__nav {
    &-list {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 0;
      list-style: none;

      @include tablet {
        flex-direction: row;
        flex-direction:column ;
      }
    }

    &-title {
        font-size: 28px;
        font-weight: bold;
        font-family: "newsreader";

        @include tablet {
            font-size: 32px;
        }
    }

    &-link {
      text-decoration: none;
      color: $primary-text-color;
      font-weight: bold;
      transition: color 0.3s ease;

      &:hover {
        color: $highlight-color; 
      }
    }
  }

  &__social {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include tablet {
        flex-direction: row;
        flex-direction:column ;
      }

    &-title {
        font-size: 28px;
        font-weight: bold;
        font-family: "newsreader";

        @include tablet {
            font-size: 32px;
        }
    }

    &-icon {
        display: flex;
        gap: 1rem;
    }

    &-link {
      display: inline-block;
      transition: transform 0.3s ease-in-out;

      img {
        width: 30px;
        height: 30px;
      }

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__bottom {
    margin-top: 2rem;
    font-size: 0.9rem;

    @include tablet {
      margin-top: 1rem;
    }
  }

  &__copyright {
   text-align: center;

   @include tablet {
    display: flex;
    justify-content: flex-end;
   }
  }
}
