$header-color: #38b148; // Green (Header Color #38b148)
$highlight-color: #f7921f; // Orange (Highlight Color)
$darker-highlight-color:#a55c08de;
$background-color: #dfdada; // Gray (Background Color)
$primary-text-color: #212121; // Black (Primary Text Color)
$alternate-text-color: #FFFFFF; // White (Alternate Text Color)
$active-color:#022d06;
$border-color:#848181;
$available-label-colour: #158463;
$unavailable-label-colour: #c94515;