$header-color: #38b148; // Green (Header Color)
$highlight-color: #f7921f; // Orange (Highlight Color)
$background-color: #F5F5F5; // Gray (Background Color)
$primary-text-color: #212121; // Black (Primary Text Color)
$alternate-text-color: #FFFFFF; // White (Alternate Text Color)
$light-background-colour: #f7f8f9;
$available-label-colour: #158463;
$unavailable-label-colour: #c94515;