@use "../../style/partials/global" as *;
@use "../../style/partials/mixins" as *;
@use "../../style/partials/variables" as *;
@use "../../style/partials/font" as *;

// Global Styles
$font-family: 'Arial', sans-serif;
$primary-color: #28a745; // Green
$secondary-color: #ff6a00; // Orange
$text-color: #333;
$link-color: #007bff;

.detail-page {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  min-height: 100vh;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: linear-gradient(to right, white, $header-color);
  }

  &__logo-link {
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 120px;
  }

  &__back-link {
    display: flex;
    align-items: center;
    color:$highlight-color;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;

    &-icon {
      margin-right: 10px;
      width: 20px;
    }

    &:hover {
      color: $darker-highlight-color;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    max-width: 90%;
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  &__image-container {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__detail-container {
    margin-bottom: 30px;
    text-align: center;
  }

  &__title {
    font-size: 1.3rem;
    line-height: 1.2;
    font-weight: bold;
    color: $header-color;
    margin: 20px 0px;

    @include tablet {
        font-size: 2.5rem;
    }
  }

  &__text {
    font-size: 1.125rem;
    color: $primary-text-color;
    line-height: 1.6;
    margin-bottom: 30px;
    text-align: justify;
  }

  &__source-container {
    width: 100%;
  }

  &__source-list {
    list-style-type: none;
    padding: 0;
  }

  &__source-item {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include tablet {
        flex-direction: row;
    }
  }

  &__source-name {
    font-size: 1.125rem;
    font-weight: bold;
    color: $header-color;
    margin-bottom: 15px;
    
  }

  &__source-url {
    font-size: 1rem;
    text-decoration: none;
    list-style: none;
    padding: 5px 10px;
    background-color: $highlight-color;
    border: 2px solid $border-color;
    border-radius: 5px;
    display: flex;
    /* align-self: flex-end; */

    &:hover {
      text-decoration: underline;
    }
  }

  &__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1.5rem;
    color: $primary-color;
  }
}
