@use "../../style/partials/global" as *;
@use "../../style/partials/mixins" as *;
@use "../../style/partials/variables" as *;
@use "../../style/partials/font" as *;

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .625rem;
  padding: 1.25rem;

  &__header {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    font-family: "newsreader";

    @include tablet {
        font-size: 2.4rem;
      }

      @include desktop {
        font-size: 2.8rem;
      }
  }

  &__container {
    display: flex;
    gap: 1.25rem;
    width: 100%;
    flex-wrap: wrap;
  }

  &__body {
    background: #fff;
    border-radius: .625rem;
    box-shadow: 0 .25rem .625rem rgba(0, 0, 0, 0.1);
    color: inherit;
    margin: auto;
    width: 100%;
    max-height: 37.5rem;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
   

    &:hover {
      transform: scale(1.05);
    }

    @include tablet {
      width: 47%;
      max-height: 43.75rem;
    }
  }

  &__image {
    width: 100%;
    max-height: 9.375rem;
    object-fit: cover;
    border-top-left-radius: .625rem;
    border-top-right-radius: .625rem;
    transition: transform 0.3s ease-in-out;

    .post__home:hover & {
      transform: scale(1.05); // Subtle zoom effect on hover
    }

    @include tablet {
      max-height: 6.25rem;
    }

    @include desktop {
        max-height: 8.125rem;
    }
  }

  &__content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    gap: .625rem;
    flex: 1;
  }

  &__title {
    font-weight: bold;
    font-size: 1.25rem;
    font-weight: 700;
    margin: .625rem 0;

    @include tablet {
      font-size: 1.5rem;
    }

    @include desktop {
      font-size: 1.875rem;
    }
  }

  &__text {
    font-size: .875rem;
    color: #555;

    @include tablet {
      font-size: 1.125rem;
    }

    @include desktop {
      font-size: 1.375rem;
    }
  }

  &__date {
    font-size: .875rem;
    color: $border-color;

    @include tablet {
      font-size: 1rem;
    }

    @include desktop {
      font-size: 1.25rem;
    }
  }

  &__tag-container {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
    padding: .625rem .9375rem;
  }

  &__tags {
    margin: .25rem auto;
    padding: .3125rem .625rem;
    font-weight: bold;
    border-radius: .3125rem;
    font-size: .75rem;
    text-transform: uppercase;
    color: $highlight-color;
    background: #eee;
   

    @include tablet {
      font-size: .875rem;
    }

    @include desktop {
      font-size: 1.125rem;
    }
  }

  .read-more {
    display: block;
    background: $darker-highlight-color;
    color: #000;
    text-align: center;
    padding: .625rem;
    font-weight: bold;
    border-radius: 0 0 .75rem .75rem;
    transition: background 0.3s ease;

    &:hover {
      color: $highlight-color;
    }

    &:hover {
      background: $highlight-color;
    }

    @include tablet {
        font-size: 1.5rem;
      }
  
      @include desktop {
        font-size: 1.75rem;
      }
  }
}

.post__home {
  display: flex;
  flex-direction: column;
  margin: 0rem auto;
  width: 100%;
  background: #fff;
  text-decoration: none;
  border-radius: .625rem;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  color: inherit;

  &-visible {
    visibility: visible; // Make it visible
    transform: translateX(0);
  }

  &:hover {
    transform: translateY(-0.3125rem);
    box-shadow: 0 .625rem 1.25rem rgba(0, 0, 0, 0.2);
  }

  &-image {
    width: 100%;
    max-height: 15.625rem;
    object-fit: cover;
    border-top-left-radius: .625rem;
    border-top-right-radius: .625rem;
    transition: transform 0.3s ease-in-out;

    .post__home:hover & {
      transform: scale(1.05); // Subtle zoom effect on hover
    }

    @include tablet {
      max-height: 25rem;
    }
  }

  &-content {
    padding: .9375rem;
    gap: .625rem;
  }

  &-tags {
    font-size: .75rem;
    color: $highlight-color;
    font-weight: bold;
    text-transform: uppercase;
  }

  &-title {
    font-size: 1.25rem;
    font-weight: 700;
    margin: .625rem 0;

    @include tablet {
      font-size: 1.5rem;
    }

    @include desktop {
      font-size: 1.875rem;
    }
  }

  &-text {
    font-size: .875rem;
    color: #555;

    @include tablet {
      font-size: 1.125rem;
    }

    @include desktop {
      font-size: 1.375rem;
    }
  }

  &-date {
    font-size: .75rem;
    color: $border-color;

    @include tablet {
      font-size: 1rem;
    }

    @include desktop {
      font-size: 1.25rem;
    }
  }

  &-tag-container {
    display: flex;
    gap: .5rem;
    padding: .625rem .9375rem;
    flex-wrap: wrap;
  }

  &-tags {
    background: #eee;
    padding: .3125rem .625rem;
    border-radius: .3125rem;
    font-size: .75rem;

    @include tablet {
      font-size: .875rem;
    }

    @include desktop {
      font-size: 1.125rem;
    }
  }

  .read-more1 {
    padding: .625rem .9375rem;
    color: $highlight-color;
    font-weight: bold;
    text-align: right;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $darker-highlight-color;
    }

    @include tablet {
      font-size: 1.5rem;
    }

    @include desktop {
      font-size: 1.75rem;
    }
  }
}
