/* @use "../../style/partials/global" as *;
@use "../../style/partials/mixins" as *;
@use "../../style/partials/variables" as *;

.post {
  padding: 16px;

  &__header {
    font-size: 36px;
  }

  &__container {
    
  }

  &__body {
    width: 95%;
    margin: 0px auto;
    border: 2px solid $border-color;
  }
} */

@use "../../style/partials/global" as *;
@use "../../style/partials/mixins" as *;
@use "../../style/partials/variables" as *;
@use "../../style/partials/font" as *;

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;

  &__header {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    font-family: "newsreader";

    @include tablet {
        font-size: 2.4rem;
      }

      @include desktop {
        font-size: 2.8rem;
      }
  }

  &__container {
    display: flex;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
  }

  &__body {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: inherit;
    margin: auto;
    width: 100%;
    max-height: 600px;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
   

    &:hover {
      transform: scale(1.05);
    }

    @include tablet {
      width: 47%;
      max-height: 700px;
    }
  }

  &__image {
    width: 100%;
    max-height: 150px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: transform 0.3s ease-in-out;

    .post__home:hover & {
      transform: scale(1.05); // Subtle zoom effect on hover
    }

    @include tablet {
      max-height: 100px;
    }

    @include desktop {
        max-height: 130px;
    }
  }

  &__content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    gap: 10px;
    flex: 1;
  }

  &__title {
    font-weight: bold;
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0;

    @include tablet {
      font-size: 24px;
    }

    @include desktop {
      font-size: 30px;
    }
  }

  &__text {
    font-size: 14px;
    color: #555;

    @include tablet {
      font-size: 18px;
    }

    @include desktop {
      font-size: 22px;
    }
  }

  &__date {
    font-size: 14px;
    color: $border-color;

    @include tablet {
      font-size: 16px;
    }

    @include desktop {
      font-size: 20px;
    }
  }

  &__tag-container {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    padding: 10px 15px;
  }

  &__tags {
    margin: 4px auto;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 12px;
    text-transform: uppercase;
    color: $highlight-color;
    background: #eee;
   

    @include tablet {
      font-size: 14px;
    }

    @include desktop {
      font-size: 18px;
    }
  }

  .read-more {
    display: block;
    background: $darker-highlight-color;
    color: #000;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    border-radius: 0 0 12px 12px;
    transition: background 0.3s ease;

    &:hover {
      color: $highlight-color;
    }

    &:hover {
      background: $highlight-color;
    }

    @include tablet {
        font-size: 24px;
      }
  
      @include desktop {
        font-size: 28px;
      }
  }
}

.post__home {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  width: 100%;
  background: #fff;
  text-decoration: none;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  color: inherit;

  &-visible {
    visibility: visible; // Make it visible
    transform: translateX(0);
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  &-image {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: transform 0.3s ease-in-out;

    .post__home:hover & {
      transform: scale(1.05); // Subtle zoom effect on hover
    }

    @include tablet {
      max-height: 400px;
    }
  }

  &-content {
    padding: 15px;
    gap: 10px;
  }

  &-tags {
    font-size: 12px;
    color: $highlight-color;
    font-weight: bold;
    text-transform: uppercase;
  }

  &-title {
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0;

    @include tablet {
      font-size: 24px;
    }

    @include desktop {
      font-size: 30px;
    }
  }

  &-text {
    font-size: 14px;
    color: #555;

    @include tablet {
      font-size: 18px;
    }

    @include desktop {
      font-size: 22px;
    }
  }

  &-date {
    font-size: 12px;
    color: $border-color;

    @include tablet {
      font-size: 16px;
    }

    @include desktop {
      font-size: 20px;
    }
  }

  &-tag-container {
    display: flex;
    gap: 8px;
    padding: 10px 15px;
    flex-wrap: wrap;
  }

  &-tags {
    background: #eee;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;

    @include tablet {
      font-size: 14px;
    }

    @include desktop {
      font-size: 18px;
    }
  }

  .read-more1 {
    padding: 10px 15px;
    color: $highlight-color;
    font-weight: bold;
    text-align: right;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $darker-highlight-color;
    }

    @include tablet {
      font-size: 24px;
    }

    @include desktop {
      font-size: 28px;
    }
  }
}
